# ---- macOS ---------------------------------------------------
.DS_Store

# ---- IDE / Editor files --------------------------------------
.idea/

# ---- Python bytecode -----------------------------------------
__pycache__/
*.py[cod]

# ---- Jupyter -------------------------------------------------
.ipynb_checkpoints/

# ---- Build artefacts (wheel/sdist) ---------------------------
build/
dist/
*.egg-info/

# ---- Virtual env ---------------------------------------------
.venv/


# ---- VS Code -------------------------------------------------
.vscode/

# ---- Local  --------------------------------------------------
/local/
*~
